@import '../../../../styles/media';

.root {
  padding-top: 24px;
}

.info {
  background: #212A33;
  padding: 10px 14px;
  color: #8794A1;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.23px;
  border-radius: 10px;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #248BDA;
  padding: 13px;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 590;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
  gap: 6px;
  appearance: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 8px;
  position: relative;
}

.spinner {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);

  &Thumb {
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(359deg);
      }
    }

    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-top-color: #248BDA;
    border-radius: 50%;
    animation: rotation 1s infinite var(--first_layer);
  }
}
