@import '../../../../styles/media';

.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
  gap: 6px;
  appearance: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 8px;
  position: relative;

  &Primary {
    color: white;
    background: #248BDA;
  }

  &Secondary {
    color: white;
    background: #212A33;
  }
}

.after {
  display: flex;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  display: flex;
}

.content {}

.spinner {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);

  &Thumb {
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(359deg);
      }
    }

    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-top-color: #248BDA;
    border-radius: 50%;
    animation: rotation 1s infinite var(--first_layer);
  }
}