@import '../../../styles/mixins';

.root {
  padding: 0 20px 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  @include noScrollbar();
}

.body {
  position: relative;
}

.shareSectionsAppear {
  position: absolute;
  top: 0;
  animation: 300ms ease-in-out next-page-appear;

  @keyframes next-page-appear {
    from {
      top: 5px;
      transform: scale(0.99);
      opacity: 0;
    }
    to {
      top: 0;
      transform: scale(1);
      opacity: 1;
    }
  }
}

.thanks {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: -50px;
  height: 48px;
  backdrop-filter: blur(25px);
  font-size: 14px;
  background: #354352;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 9px 16px;
  border-radius: 14px;
  animation: 4500ms ease-in-out thanks-appear;

  @keyframes thanks-appear {
    0% {
      bottom: -50px;
    }
    16% {
      bottom: 32px
    }
    90% {
      bottom: 32px;
    }
    100% {
      bottom: -50px;
    }
  }
}